.setting-header {
  margin-top: 2rem;
  background-color: #f6f6f6;
  margin:0;
  padding: 1rem;
}

.setting-fields{
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
  letter-spacing: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  color:#210096;
}
.setting-inputfield {
  height: 2rem;
  width:18rem;
  border:none;
  padding-bottom: none;
}
div hr {
  margin: 0;
  padding-top: .5rem;
}
div .setting-checkbox {
  color: black;
  margin-right: 2rem;
  padding:.5rem;
  padding-top:0;
}
.setting-checkboxfield {
  margin-right: 1rem;
  padding: 1rem;

}

.status-header {
  margin-top: 2rem;
  background-color: #f6f6f6;
  margin:0;
  padding: 1rem;
}

label.form-check-label {
  margin-left: 0.5rem;

}

.setting-save-button {
  background-color: #210096;
  color:white;
  margin-top: 1rem;
  margin-bottom: .5rem;
  width: 16rem;
}
.form-check{
  margin:1rem;
}
