
@import '../ColorPalette';


.window-fix {
  width: calc(100% + 15px);
}
.pairing_banner{
  margin-top: 1rem;
  background-color: $banner;
  font-weight: 900;
  color: $background;
  text-align: center;
  padding:.5rem;
  letter-spacing: .2rem;
}
