html, body {
	margin: 0;
	padding: 0;
}

body {
    background-color: #FFF;
    font-family: "Segoe UI", "Lucida Grande", "Verdana";
    width: 100%;
    height: 100vh;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

#layout {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    border: none;
}

#layout td.col {
    border: 1px solid #AAA;
    vertical-align: top;
    background-color: #FAFAFA;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0.3em;
    font-weight: 300;
    border-bottom: 1px solid #DDD;
    background-color: #F0F0F0;
}

h3 {
    margin: 0;
    padding: 0 0 1rem;
}

#layout .settings {
    width: 430px;
}

#layout .receipt {
    width: 250px;
}

#receipt_output {
    height: calc(100vh - 100px);
    font-size: 12px;
    font-family: "Courier New", "Verdana";
    white-space: pre;
    overflow-y: scroll;
}

#bottom_left {
    position: fixed;
    bottom: 2%;
    left: 2%;
    color: red;
}

.settings th {
    width: 50%;
}

#action-form .form th {
    width: 200px;
}

.col.flow {
    height: 400px;
}

#flow_msg {
    font-size: 12px;
    overflow-y: scroll;
    max-height: 300px;
    word-break: break-all;
}

table.form {
    border-collapse: collapse;
}

table.form {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table.form th {
    text-align: right;
    font-weight: normal;
}

table.form th, table.form td {
    padding: 0.5em;
}

.input {
    border-radius: 2px;
    padding: 5px;
    border: 1px solid #AAA;
}

.input.small {
    width: 50px;
}

.input.medium {
    width: 150px;
}

table.form button {
    padding: 0.5em;
    border-radius: 4px;
    width: 150px;

}

.submit-input {
    text-align: right;
}

.status-msg p, .status-msg p span {
    text-align: center;
}

#status_indicator {
    margin: 0;
    padding: 5px 10px;
}

#status_indicator[data-status="Unpaired"] {
    background-color: red;
}

#status_indicator[data-status="PairedConnecting"], #status_indicator[data-flow="Pairing"] {
    background-color: orange;
}

#status_indicator[data-status="PairedConnected"] {
    background-color: green;
}

button {
    border-radius: 4px;
    width: 150px;
    padding: 0.5em;
    cursor: pointer;
    font-size: 12px;
}

button:disabled {
    display: none;
}

button.no-hide:disabled {
    display: block;
}

.padding-1 {
    padding: 1em;
}

fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #DDD;
}

fieldset:disabled {
    display: none;
}

fieldset input {
    margin-bottom: .5rem;
}

#flow_status_heading {
    color: orangered;
}