.orderCheckout-change{
  position: absolute;
  bottom: 10%;
  padding: 1rem;
  color: #4d4a4a;
  font-size: 1rem;
}

.orderCheckout-total{
position: absolute;
bottom: 17%;
padding: 1rem;
color:  #3d3b3b;
font-size: 1rem;
}
.order-amount-total{
display: inline-block;
position: relative;
font-size: 1.4rem;
margin-left: 9rem;
/* color:  #3d3b3b; */
font-weight:400;
}
.order-amount-change{
display:inline-block;
position: relative;
font-size: 2rem;
margin-left: 12rem;
/* color: #3d3b3b; */
font-weight:400;
}
