 div.menu-sidebar {
  background-color: #e9e5f5;
  min-height:100vh;
  color: #333;
  padding-right: 0;
}

.sidebar-links a.nav-link, .sidebar-links a.nav-link.active {
  border-radius: 0;
  color:#130055;
  text-align: right;
  letter-spacing: .2rem;
  padding: 22px;
}

.sidebar-links a.nav-link.active {
  background-color: white;
  font-weight: bold;
}

h1.logo {
  background-color: transparent;
}
