.checkout-page1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000aa;
  z-index: 1040;
  height: 100vh;
  width: 100%;
}

.payment-options .checkout-page {
  z-index: 997;
}
.checkout-page-flyout {
  position: fixed;
  z-index: 3333;
  top: 0;
  right: 0;
  width: 84%;
  height: 100%;
  border-left: solid #fff 1px;
  background: white;
  -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
  box-shadow: 0px -5px 15px 0px #bfbfbf;
  transition: all 2s ease-in-out;
}

.checkout-flyout-toggle {
  position: absolute;
  transform: rotate(90deg);
  top: 50%;
  left: -60px;
  z-index: -1;
  width: 85px;
  height: 35px;
  font-size: 13px;
  background: white;
  border: solid #fff 1px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px 0 #bfbfbf;
  cursor: pointer;
  font-size: larger;
  padding: 0;
}

.checkout-flyout-toggle #slider {
  width: 75% !important;
}
.checkout-flyout-toggle #content {
  width: 0 !important;
}

#content {
  width: 85%;
  height: 100vh;
  display: inline-block;
  transition: all 0.5s ease-out;
}

.fastcash-div {
  text-align: center;
  position: absolute;
  top: 17%;
  left: 30%;
}

.fastcash-div button {
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
}
div .fastcash-input {
  height: 3rem;
  width: 10rem;
  margin: 1rem;
}

.fastcash-div p {
  font-size: 1.5rem;
}

div .fastcash-card {
  height: 4rem;
  width: 10rem;
}

div.checkout-order {
  padding: 0;
  overflow: auto;
}
.transaction-successful {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  width: 50%;
  font-size: 1.4rem;
}
.transaction-successful-button button {
  margin: 0.5rem;
}
.receipt-alignment {
  padding: 2.5rem;
}
