//banner-fonts,background,button-background
$background: white;

//Buttons, tick
$primary:  #00B478;
//sub Heading
$secondary: #004830;
// sidebar
$tertiary: #DAF4EB;

//Fonts, disable button, burger img border
$primaryGrey: #575656;
//Used for all borders
$secondaryGrey: #D1D1D1;
//subHeading background color
$tertiaryGrey: #ececfa;

//unpairing banner
$banner: #F23464;


//burger Hover button
$primaryRed:#F23464;
