//banner-fonts,background,button-background
$background: white;

//Buttons, tick
$primary:  #0A2463;
//sub Heading
$secondary: #0A2463;
// sidebar
$tertiary:#E3EFF7;

//Fonts, disable button, burger img border
$primaryGrey: #575656;
//Used for all borders
$secondaryGrey: #D1D1D1;
//subHeading background color
$tertiaryGrey: #ececfa;

//burger Hover button
$primaryRed:#6fdda2;
