.product-display {
  display: inline-block;
  border: 1px solid grey;
  margin: 5px;
  text-align: center;
  padding: 0;
}
.product-display img {
  width: 100%;
}
.product-category {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-family: 'Muli-Regular', 'Muli';
}
div.order-sidebar {
  border-left: 1px solid grey;
  padding: 0;
  min-height: 100vh;
}
.order-header   {
  font-size: 1.5rem;
  text-align: center;
  color: #575656;
  margin-top: 2rem;
  font-weight: 100;
  background-color: #f6f6f6;
  font-family: 'Muli-Regular', 'Muli';
  margin:0;
  padding: 1rem;
}
ul {
  list-style-type: none;
  padding: 1rem;
}

.orderList {
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  display: flex;
}
.bin-button {
 border: none;
 width: 10%;
 display: inline-block;
 padding: 0;
text-align: left;
}
.total {
  position: absolute;
  bottom: 8%;
  padding: 1rem;
  color: #575656;
  font-size: 1.7rem;
}
.order-amount {
  display:inline-block;
  position: relative;
  font-size: 4.5rem;
  margin-left: 9rem;
  color: #575656;
  font-weight: 400;

}
.checkout-button {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4.5rem;
  background-color: #200096;
  text-align: center;
  color: #fff;
  font-size:1.5rem;
}


.checkout-page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  z-index: 10000;
  height: 100vh;
  width: 100%;
  border: 1px solid red;
}

.checkout-page .payment-options {
  background-color: white;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
}

