.product-display {
  display: inline-block;
  border: 1px solid grey;
  margin: 5px;
  text-align: center;
  padding: 0;
}
.product-display img {
  width: 100%;
}
.product-category {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-family: 'Muli-Regular', 'Muli';
}
div.order-sidebar {
  border-left: 1px solid grey;
  padding: 0;
  min-height: 100vh;
}
.order-header{
  font-size: 1.2rem;
  text-align: center;
  color: #575656;
  margin-top: 2rem;
  font-family: 'Muli-Regular', 'Muli';
}
ul {
  list-style-type: none;
}
.space {
  word-spacing: 1em;
}
.orderList {
  border: none;
  width: 100%;
  text-align: left;
}

