
@import '../ColorPalette';

label.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  border-radius: .2rem;
  border: 1px solid $secoundry;
  background-color: $background;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: $tertiary;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: $primary;
}
.container input:checked ~ .text-muted {
  background-color: $primaryGrey;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $background;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
