@import '../../components/ColorPalette';

.app {
  a {
    font-family: 'Muli-Regular', 'Muli';
    color: #210096;
    text-align: left;
    line-height: 2rem;
    font-size: 1rem;
  }

  ol {
    color: black;
    margin-left: 2.2rem;
    padding-top: 2rem;
  }
}

.pos-heading {
  font-family: "IBM Plex Mono";
  font-size: 32px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0.3em;
  font-weight: 300;
  border-bottom: 1px solid $secondaryGrey;
  background-color: #F0F0F0;
 }
