.tenant-divider {
  margin: 1.5rem 0 1.5rem -1rem;
  width: calc(100% + 2rem);
}

div.tenant-message {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}

.tenant-message-icon {
  flex-shrink: 0;
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}
